<header>
    <nav>
      <div>
        <a href="#">Favourites</a>
        <a href="#">My Maps</a>
        <a href="#">New Map</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
    </nav>
  </div>
  <!-- <div><%- include('_register') %></div> -->
</header>
