<header>
    <nav class="navbar navbar-light bg-light">
      <div><a href="/maps">WikiMap</a>

        <a href="/users/<%= user %>/favourites">Favourites</a>
        <a href="/users/<%= user %>/maps">My Maps</a>
        <a href="/maps/new">New Map</a>
      </div>
        <div>
        <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <% } else { %>
          <label for="user" style="margin-bottom: 0;">Logged In As: <a href="/maps"><%= user %></a></label>
          <form method="POST" action="/logout" class="form-inline">
            <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
          </form>
          <% } %>

              </div>
            </form>

    </nav>
  </div>
</header>
