<header class="partial">
  <nav class="navbar navbar-light">
    <div class="navlinks">
      <a href="/maps" id="wiki-logo">WikiMaps</a>
      <div class="main-navigation">
        <% if (user) { %>
        <!-- <a href="/users/<%= user %>/maps">My Maps</a> -->
        <a class="new-map-text" href="/maps/new">New Map</a>
        <a class="new-map-symbol" href="/maps/new">+</a>
        <% } else { %>
        <!-- <a href="#">My Maps</a> -->
        <a class="new-map-text" href="#">New Map +</a>
        <a class="new-map-symbol" href="#"> &#10133; </a>

        <% } %>
      </div>
    </div>
    <div>
      <% if (!user) { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% } else { %>
      <div class="logged-user-options">
        <label for="user" style="margin-bottom: 0"
          >Logged In As:
          <a href="/users/<%= user %>/maps"><%= user %></a></label
        >
        <form
          id="logout-btn"
          method="POST"
          action="/logout"
          class="form-inline"
        >
          <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">
            Logout
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
