<header>
    <nav>
      <div>
        <a href="#">Favourites</a>
        <a href="#">My Maps</a>
        <a href="#">New Map</a>
    </nav>
  </div>
  <div><%- include('_register') %></div>
</header>
