<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Maps</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map-viewer.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/initMap.js"></script>
  </head>

  <body>

    <h1><%= map.title %></h1>

    <div id="map-viewport"></div>

    <aside>map points</aside>


    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap">
    </script>
  </body>
</html>
