<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiMap - New</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <main>
      <div>
        <h1>Create New Map</h1>
        <form action="/maps/new" method="POST">
          <label for="map-title">Map Title</label>
          <input type="text" name="map-title" placeholder="Map Name">
          <label for="map-category">Category</label>
          <select name="map-category" id="map-category">
            <option value="">Please Select a Category...</option>
            <option value="city">City</option>
            <option value="food">Food</option>
            <option value="nature">Nature</option>
            <option value="other">Other</option>
          </select>
          <label for="map-description">Description</label>
          <textarea name="map-description" id="map-description" cols="30" rows="10" placeholder="Map Description"></textarea>
          <label for="map-img-url">Thumbnail Photo URL</label>
          <input type="text" name="map-img-url" placeholder="Map thumbnail url">
          <button type="submit">Create Map</button>
        </form>
      </div>
    </main>

  </body>
</html>
