// See: https://sass-lang.com/

header.partial {
  margin-bottom: 1em;
  // height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(179, 215, 129, 1);
  z-index: 9;
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  #wiki-logo {
    font-family: "Fredoka One", cursive;
    font-size: 1.7rem;
  }
}
body {
  background-color: #b3d781;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}
.pageTitle {
  margin-top: 100px;
  font-family: "Rubik", sans-serif;
}

nav.navbar {
  align-items: center;
  div.navlinks {
    display: flex;
    justify-content: space-evenly;
    a {
      color: #244751;
    }
    .new-map-symbol {
      display: none;
    }
  }
  .main-navigation {
    margin: 10px;
    margin-left: 20px;
  }
  .logged-user-options {
    display: flex;
    align-items: center;
    #logout-btn {
      margin-left: 10px;
    }
  }
}

html > body,
header > nav {
  h1,
  h2,
  h3,
  h4 {
    color: #244751;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .pageTitle {
    margin-top: 120px;
  }
  nav.navbar {
    .main-navigation {
      margin-left: 40px;
    }
    div.navlinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-evenly;
      a {
        // margin: 1em;
      }
      .new-map-text {
        display: none;
      }
      .new-map-symbol {
        display: flex;
        font-size: 20pt;
      }
    }
    .logged-user-options {
      display: flex;
      flex-direction: row;

      #logout-btn {
        margin-left: 10px;
      }
    }
  }
}
