body {
  background-color: #b3d781;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}
.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6em;
}

.pageTitle h1 {
  margin: 1em;
  text-align: center;
}

#exampleInputEmail1 {
  width: 300px;
}
#exampleInputPassword1 {
  width: 300px;
}

.btn-primary {
  width: 300px;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
