body {
  background-color: #B3D781;
  background-image: url('https://www.transparenttextures.com/patterns/groovepaper.png');
}

h2 {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  #map-viewport {
    width: 80%;
    height: 500px;
    border: 3px solid cadetblue;
    margin-bottom: 1em;
    .markerInfo {
      display: flex;
      .imgContainer {
        width: 100px;
        margin-right: 1em;
        img {
          max-width:100%;
          max-height:100%;
        }
      }
      div {
        text-align: center;
      }
    }
  }

  .options {
    width: 80%;
    margin-bottom: 1em;
    button {
      border: 2px solid cadetblue;
      border-radius: 50%;
      font-size: 1.5em;
      color: #244751;

      .fa-heart {
        font-size: 1em;
        text-align: center;
        color: rgba(247, 50, 1, 0.482);
        border: 0px;
      }
      .fa-heart:hover {
        color: rgb(247, 50, 1);
      }
    }
    .favourited {
      .fa-heart {
        color: rgb(247, 50, 1);
        border: 0px;
      }
    }
    .addLoc {
      border-radius: 3px;
      font-family: Arial, sans-serif;
    }
    .addLoc:hover {
      background-color: rgb(24, 165, 24);
      color: white;
    }
  }

  .location-form {
    display: none;
    width: 80%;
    border: 3px solid cadetblue;
    margin-bottom: 1em;
    padding: 1em;
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      input {
        border: 1px solid cadetblue;
        margin-bottom: 1em;
      }
      textarea {
        border: 1px solid cadetblue;
        margin-bottom: 1em;
      }
      button {
        border: 1px solid cadetblue;
      }
    }
  }

  .markerImg:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .markerH4:hover {
    color:rgb(24, 165, 24);
    cursor: pointer;
  }

  aside {
    width: 80%;
    height: 400px;
    border: 3px solid cadetblue;
    overflow: scroll;

    tbody {
      .marker-info {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 100px;
        }
        h4 {
          margin-left: 1em;
        }
      }
      p {
        margin-top: 10px;
      }
    }
  }
}

#mapID,
#userID,
#userName {
  display: none;
}
