h2 {
  width: 66%;
  margin: 0 auto;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  #map-viewport {
    width: 80%;
    height: 500px;
    border: 3px solid cadetblue;
    margin-bottom: 1em;
  }

  .options {
    width: 80%;
    margin-bottom: 1em;
    button {
      border: 2px solid cadetblue;
      border-radius: 50%;
      background-color: mediumturquoise;
      font-size: 1.5em;
      .fa-heart {
        color: rgba(247, 50, 1, 0.482);
        border: 0px;
      }
      .fa-heart:hover {
        color: rgb(247, 50, 1);
      }
    }
    .favourited {
      .fa-heart {
        color: rgb(247, 50, 1);
        border: 0px;
      }
    }
    .addLoc {
      border-radius: 3px;
      font-family: Arial, sans-serif;
    }
    .addLoc:hover {
      background-color: rgb(24, 165, 24);
      color: white;
    }
  }


  #addLocation {
    display: none;
    width: 80%;
    border: 3px solid cadetblue;
    margin-bottom: 1em;
    padding: 1em;
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      input {
        border: 1px solid cadetblue;
        margin-bottom: 1em;
      }
      textarea {
        border: 1px solid cadetblue;
        margin-bottom: 1em;
      }
      button {
        border: 1px solid cadetblue;
      }
    }
  }

  aside {
    width: 80%;
    height: 400px;
    border: 3px solid cadetblue;
    overflow: scroll;

    tbody {
      .marker-info {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 100px;
        }
        h4 {
          margin-left: 1em;
        }
      }
      p {
        margin-top: 10px;
      }
    }
  }
}

#mapID,
#userID,
#userName {
  display: none;
}
