h1.pageTitle {
  text-align: center;
  padding-bottom: 14px;
}

tbody {

  td {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    padding: 1em;


    .map-info {
      display: flex;
      align-items: center;
      margin-bottom: 0.8em;
      h2 {
        a {
          color: #244751;
        }
        a:hover {
          color: #0fbeee;
          text-decoration: none;
        }
      }
      .imgContainer {
        margin-right: 1em;
        width: 250px;
        img {
          max-width: 100%;
        }
      }
    }

    .favMap {
      width: 42px;
      border: 2px solid cadetblue;
      border-radius: 50%;
      background-color: mediumturquoise;
      font-size: 1.5em;
      margin-bottom: 5px;
      .fa-heart {
        color: rgba(247, 50, 1, 0.482);
        border: 0px;
      }
      .fa-heart:hover {
        color: rgb(247, 50, 1);
      }
    }
    .favourited {
      .fa-heart {
        color: rgb(247, 50, 1);
        border: 0px;
      }
    }
    small.badge {
      width: fit-content;
      background-color: rgba(0, 139, 139, 0.454);
    }
    .mapID,
    .userID {
      display: none;
    }
  }
}



