
main {
  div .profile-maps-container {
    width: 90%;
    margin: auto;

    .profile-map {
      width: 100%;
      // display: flex;

      .profile-map-img {
        width: 100%
      }

      // .profile-maps-content {
        //   width: 75%
        // }
        // .owners-maps-btns {
          //   width: 10%;
          // }
    }

  }
}



@media only screen and (min-width: 1024px) {
  main {
    max-width: 1600px;
    margin: auto;

    .profile-maps-container {
      width: 90%;
      margin: auto;

      .profile-map {
        width: 100%;
        display: flex;

        .profile-map-img {
          width: 20%
        }

        .profile-maps-content {
          width: 70%
        }
        .profile-maps-btns {
          width: 10%;
        }
      }

    }
  }
}

