body {
  background-color: #b3d781;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}
#my-maps:hover {
  cursor: pointer;
}

#my-favourites:hover {
  cursor: pointer;
}

#my-contributions:hover {
  cursor: pointer;
}

main {
  .profile-maps-container {
    width: 90%;
    margin: auto;

    .profile-header-views {
      width: 100%;
      margin: auto;

      h4 {
        padding: 0;
      }
    }

    section {
      flex-direction: column;
      padding: 1em;
    }

    .profile-map:hover {
      box-shadow: 1px 1px 1px 1px #c6cbe1;
    }

    .profile-map {
      border: rgba(146, 146, 146, 0.185) 1px solid;
      border-radius: 8px;
      width: 100%;
      overflow: hidden;

      .profile-map-img {
        width: 100%;
      }

      .profile-map-content {
        width: 75%;
        padding: 1em;
        p {
          padding: 1em;
        }
      }
      .profile-map-btns {
        width: 60%;
        display: flex;
        justify-content: end;
        margin-bottom: 1rem;

        .btn {
          margin: auto;
          margin-left: 0.5rem;
        }
        .btn-primary {
          width: 30%;
        }
        .remove-fav {
          width: 70%;
        }
      }
    }
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.active {
  color: #d36135;
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 1600px;
    margin: auto;

    .profile-maps-container {
      width: 90%;
      margin: auto;

      .profile-map {
        width: 100%;
        display: flex;

        .profile-map-img {
          width: 20%;
        }

        .profile-map-content {
          width: 60%;
          display: flex;

          header {
            width: 30%;
          }
          div {
            width: 70%;
          }
        }
        .profile-map-btns {
          width: 20%;
          flex-direction: column;
          margin-bottom: 0;
          margin-right: 0.5rem;
          padding: 0.5rem;

          .btn {
            width: 100%;
            margin-right: 1rem;
            float: right;
          }
        }
      }
    }
  }
}
